# Email Spam Detection TASK4

# Defination of the problem 
The purpose of the project is to develop a machine learning model that employs a multinomial classifier to assess whether an email is spam. In this data set, each category has training and testing sets. The objective is to achieve high classification accuracy while also highlighting places where the multinomial classifier can be improved.

# Data
For this data set we are using multinomial Classifier.

# Evaluation
The process involved extracting and selecting features for each email category, then training and analysing individual machine learning models on corresponding sets.

In [1]:
!pip install joblib

Requirement already satisfied: joblib in c:\users\hp\.anaconda\lib\site-packages (1.1.1)

# import basic libraries

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
%matplotlib inline

## Read the given data set

In [26]:
spam = pd.read_csv('spam.csv', encoding="latin-1")
spam

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [27]:
spam.shape

(5572, 5)

In [28]:
len(spam)

5572

In [29]:
spam.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [31]:
spam = spam.drop(columns=["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1)

In [32]:
spam

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [33]:
len(spam)

5572

## Exploratory Data Analysis(EDA)
- Data cleaning 
- Data visualization

In [34]:
# checking null values
spam.isna().any()

v1    False
v2    False
dtype: bool

In [35]:
spam.isnull().sum()

v1    0
v2    0
dtype: int64

In [36]:
# checking data types
spam.dtypes

v1    object
v2    object
dtype: object

In [37]:
spam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [38]:
spam.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [39]:
spam.nunique()

v1       2
v2    5169
dtype: int64

In [40]:
import warnings
warnings.filterwarnings('ignore')

In [41]:
# checking value counts 
spam.value_counts()

v1    v2
ham   Sorry, I'll call later                                                                                                                                                                                           30
      I cant pick the phone right now. Pls send a message                                                                                                                                                              12
      Ok...                                                                                                                                                                                                            10
spam  Please call our customer service representative on FREEPHONE 0808 145 4742 between 9am-11pm as you have WON a guaranteed å£1000 cash or å£5000 prize!                                                             4
ham   Say this slowly.? GOD,I LOVE YOU &amp; I NEED YOU,CLEAN MY HEART WITH YOUR BLOOD.Send this to Ten special people &amp; u c miracle tomorrow, do it,pls,pls do it...                                               4
                                                                                                                                                                                                                       ..
      I wonder how you got online, my love ? Had you gone to the net cafe ? Did you get your phone recharged ? Were you on a friends net ? I think of you, boytoy                                                       1
      I wish! I don't think its gonna snow that much. But it will be more than those flurries we usually get that melt before they hit the ground. Eek! We haven't had snow since &lt;#&gt; before I was even born!     1
      I wish u were here. I feel so alone                                                                                                                                                                               1
      I wish things were different. I wonder when i will be able to show you how much i value you. Pls continue the brisk walks no drugs without askin me please and find things to laugh about. I love you dearly.     1
spam  we tried to contact you re your response to our offer of a new nokia fone and camcorder hit reply or call 08000930705 for delivery                                                                                1
Length: 5169, dtype: int64

In [42]:
names=['class','message']
names

['class', 'message']

In [44]:
spam.columns=names

In [45]:
spam['label'] = spam['class'].map({'ham': 0, 'spam': 1})
spam

     class                                            message  label
0      ham  Go until jurong point, crazy.. Available only ...      0
1      ham                      Ok lar... Joking wif u oni...      0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3      ham  U dun say so early hor... U c already then say...      0
4      ham  Nah I don't think he goes to usf, he lives aro...      0
...    ...                                                ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...      1
5568   ham              Will Ì_ b going to esplanade fr home?      0
5569   ham  Pity, * was in mood for that. So...any other s...      0
5570   ham  The guy did some bitching but I acted like i'd...      0
5571   ham                         Rofl. Its true to its name      0

[5572 rows x 3 columns]

## Lable Enocoding

In [78]:
# Lable_Encoding the complete iris dataset 
from sklearn import preprocessing

In [79]:
label_encoder = preprocessing.LabelEncoder()
spam['class']= label_encoder.fit_transform(spam['class'])
spam

      class                                            message  label
0         0  Go until jurong point, crazy.. Available only ...      0
1         0                      Ok lar... Joking wif u oni...      0
2         1  Free entry in 2 a wkly comp to win FA Cup fina...      1
3         0  U dun say so early hor... U c already then say...      0
4         0  Nah I don't think he goes to usf, he lives aro...      0
...     ...                                                ...    ...
5567      1  This is the 2nd time we have tried 2 contact u...      1
5568      0              Will Ì_ b going to esplanade fr home?      0
5569      0  Pity, * was in mood for that. So...any other s...      0
5570      0  The guy did some bitching but I acted like i'd...      0
5571      0                         Rofl. Its true to its name      0

[5572 rows x 3 columns]

In [66]:
x = spam["message"]
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: message, Length: 5572, dtype: object

In [67]:
y = spam["class"]
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: class, Length: 5572, dtype: int32

In [68]:
# fitting the data 
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(x)
X

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

## Split the Data into Train and Test

In [69]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [70]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(3733, 8672) (1839, 8672) (3733,) (1839,)

## Naive Bayes Classifier

In [71]:
# fitt the Naive Bayes model
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB()

In [72]:
# finding the score 
clf.score(X_test,y_test)

0.9793365959760739

In [73]:
# Predections 
y_pred = clf.predict(X_test)
y_pred

array([1, 0, 1, ..., 0, 0, 1])

In [74]:
# Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      1587
           1       0.93      0.92      0.92       252

    accuracy                           0.98      1839
   macro avg       0.96      0.95      0.96      1839
weighted avg       0.98      0.98      0.98      1839

In [75]:
import joblib
joblib.dump(clf, 'NB_spam_model.pkl')

['NB_spam_model.pkl']

In [76]:
NB_spam_model = open('NB_spam_model.pkl','rb')
clf = joblib.load(NB_spam_model)

In [80]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      1587
           1       0.93      0.92      0.92       252

    accuracy                           0.98      1839
   macro avg       0.96      0.95      0.96      1839
weighted avg       0.98      0.98      0.98      1839